-
  var faq = {
    header: 'Как мы&nbsp;работаем над заказами: полная схема',
    items: [
      {
        header: 'Получение заявки от&nbsp;клиента',
        text: 'Это может быть:',
        list: [
          'образец продукции;',
          'чертеж изделия;',
          '3D-модель изделия;',
          'эскиз изделия;',
          'просто идея.',
        ]
      },
      {
        header: 'Согласование технического задания:',
        list: [
          'количество гнезд пресс-формы;',
          'материал изделия (какой пластик);',
          'ресурс пресс-формы (количество циклов);',
          'степень автоматизации&nbsp;&mdash; автоматическая, полуавтоматическая или ручная;',
          'наличие либо отсутствие подогрева&nbsp;&mdash; горячеканальная или холодноканальная;',
          'стоимость пресс-формы исходя из&nbsp;ее&nbsp;параметров.',
        ]
      },
      {
        header: 'Согласование юридических аспектов',
        list: [
          'заключение договора;',
          'выставление счета.',
        ]
      },
      {
        header: 'Разработка конструкторской документации',
        list: [
          'авансовый платеж в&nbsp;размере&nbsp;50% от&nbsp;суммы счета;',
          'изготовление и&nbsp;согласование чертежей изделия;',
          'создание 3D-модели пресс-формы;',
          'закупка комплектующих для пресс-формы.',
        ]
      },
      {
        header: 'Изготовление пресс-формы',
        list: [
          'авансовый платеж в&nbsp;размере&nbsp;30% от&nbsp;суммы счета;',
          'производство пресс-формы.',
        ]
      },
      {
        header: 'Испытание пресс-формы',
        list: [
          'создание пробной отливки;',
          'при необходимости доработка пресс-формы и&nbsp;подготовка к&nbsp;передаче заказчику.',
        ]
      },
      {
        header: 'Отгрузка пресс-формы',
        list: [
          'окончательный платеж в&nbsp;размере&nbsp;20% от&nbsp;суммы счета;',
          'подготовка закрывающих документов;',
          'отгрузка пресс-формы заказчику.',
        ]
      },
      {
        header: 'Дополнительные услуги:',
        list: [
          'отливка изделий на&nbsp;своих ТПА&nbsp;&mdash; пресс-форма по&nbsp;акту временного хранения находится на&nbsp;производстве ИПК &laquo;ЭНЕРГИЯ&raquo;, заказчик получает готовые изделия.',
        ]
      },
      {
        header: 'Гарантийное и&nbsp;постгарантийное обслуживание',
        list: [
          'несем ответственность по&nbsp;гарантийным обязательствам согласно техническому заданию без ограничения по&nbsp;срокам, если пресс-форма эксплуатируется на&nbsp;наших ТПА и&nbsp;хранится у&nbsp;нас по&nbsp;договору ответственного хранения;',
          'гарантируем работу пресс-формы по&nbsp;количеству циклов согласно техническому заданию, если на&nbsp;изделии установлен счетчик циклов и&nbsp;соблюдаются условия хранения по&nbsp;ГОСТ 15150-69;',
          'выполняем постгарантийное обслуживание и&nbsp;оказываем услуги по&nbsp;устранению неисправностей, замене изношенных элементов, полировке, нанесение шагрени и&nbsp;т.&nbsp;д.',
        ]
      },
    ]
  }

.faq#faq
  .container
    h2.faq__header !{faq.header}
    .faq-items.accordion
      each item, index in faq.items
        .faq__item
          div.faq__item-head
            span !{index + 1}. !{item.header}
            .faq__item-icon
          div.faq__item-body
            if item.text
              p
                b !{item.text}
            ul
              each li in item.list
                li !{li}
